@media screen and (max-width: 425px) {
  .question {
    width: 300px;
  }

  .yes-btn {
    width: 75px;
  }

  #no-btn {
    width: 75px;
  }

  .s:hover .yes-btn,
  .n:hover #no-btn {
    background-size: 75px;
  }

  .img-logo {
    width: 100px;
  }
}
