* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-bottom: 100px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
}

.s {
  position: relative;
  display: inline-block;
}

.s_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.s:hover .s_hover {
  display: inline;
  cursor: pointer;
}

.n {
  cursor: pointer;
}

#no-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

/* .n_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.n:hover .n_hover {
  display: inline;
  cursor: pointer;
} */
